@model Department

@{
    ViewData["Title"] = $"Delete {Model.Name} Department";
}

<h1>Delete @Model.Name Department</h1>

<form asp-action="Delete">
    <div class="form-group">
        <label asp-for="Code" class="col-form-label"></label>
        <input asp-for="Code" class="form-control" disabled/>
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Name" class="col-form-label"></label>
        <input asp-for="Name" class="form-control" disabled />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DateOfCreation" class="col-form-label"></label>
        <input asp-for="DateOfCreation" class="form-control" disabled />
    </div>
    <br />
    <input type="submit" value="Delete Department" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-outline-dark">Back To Department List</a>
</form>

